# Python
__pycache__/
*.pyc

# Environments
.env
.venv
venv/

# Data (IMPORTANT)
data/

# Models (IMPORTANT)
checkpoints/
*.pt
*.pth
saved_models/
*.pt
*.pth

# Logs
logs/
wandb/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store

# test.py
test.py

# vscode
.vscode/

# opencode
opencode.json
opencode.jsonc
AGENTS.md